{
  "token":"YOURDISCORDTOKEN",
  "prefix":".", # use something like ! , . ~ ` ?
  "coin": "Avrio",
  "symbol": "AIO", 
  "tip_amp_emoji": "tip",
  "tip_any_emoji": "tip100",
  "tip_any_amount": 100,
  # faucet address if configured
  "faucet": "", # url to faucet
  "price_source": "TradeOgre", # name to display in price command
  "price_endpoint": "https://tradeogre.com/api/v1/ticker/BTC-AIO", # api price source
  "units": 100, # number of decimal places
  "daemon_host": "127.0.0.1",
  "daemon_port": "24524",
  "rpc_password":"avrioonly",
  "rpc_host": "127.0.0.1",
  "rpc_port":"24562"
}

